@font-face {
    font-family: "Tangerine";
    src: url("../src/assets/fonts/Tangerine-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../src/assets/fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Oxygen";
    src: url("../src/assets/fonts/Oxygen-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(240, 240, 240);
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url("../src/assets/images/pizza.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 400;
    gap: 40px;
}

#header {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Tangerine";
    font-size: 3rem;
    letter-spacing: 0.24rem;
    text-align: center;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#tabs {
    display: flex;
    gap: 24px;
}

.header-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(240, 240, 240);
    font-size: 1.4rem;
    font-family: "Roboto";
    font-weight: 300;
}

.header-btn:hover {
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-bottom: -1px;
}

.header-btn.active,
.header-btn.active:hover {
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-bottom: -1px;
}

/* #content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70vw;
} */

#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.home-btn {
    font-family: "Oxygen";
    font-weight: 700;
    font-size: 1.8rem;
    color: firebrick;
    background-color: rgb(240, 240, 240);
    border: 4px solid green;
    border-radius: 24px;
    padding: 4px 12px;
    cursor: pointer;
}

h2 {
    font-family: "Tangerine";
    font-size: 4.8rem;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}
